body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 40px;
  color: #2E2F42;
  background-color: #E5E5E5;
  font-weight: normal;
}
.site-nav .link:hover {
  color: black;
}

.site-nav .link:focus {
  color: blue;
}
cursor {
  pointer-events: painted;
}
.auth-nav-link :hover {
  color: black;
}
.auth-nav-link :focus {
  color: blue;
}
