.title-studio {
  font-size: 18px;
  line-height: 24px;
  color: #2e2f42;
}
li {
  list-style-type: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: #c0c0c0;
}
.site-nav-link {
  font-size: 16px;
  line-height: 1.33;
}
.auth-nav-link {
  font-size: 16px;
  line-height: 1.33;
}
.site-nav-link :hover {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.33;
}
.site-nav .link :focus {
  color: #4d5ae5;
  font-size: 16px;
  line-height: 1.33;
}
cursor {
  pointer-events: painted;
}
.auth-nav-link :hover {
  color: #2e2f42;
}
.auth-nav-link :focus {
  color: #4d5ae5;
}
.button:hover {
  color: #404bbf;
}
.button:focus {
  color: #4d5ae5;
}
/* sektion-1 */
.section-1 {
  color: #ffffff;
  font-size: 56px;
  line-height: 1.33;
  background: #2e2f42;
}
.title-What {
  font-size: 36px;
  line-height: 1.33;
  color: #2e2f42;
}
.title-Our {
  font-size: 36px;
  line-height: 1.33;
  color: #2e2f42;
  background: #F4F4FD;
}
.button {
  font-size: 16px;
  line-height: 24px;
  color: #4d5ae5;
}
.list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 12px 24px;
  width: 69px;
  height: 1.33;
}
.button :hover {
  color: #4d5ae5;
}
.button :focus {
  color: #2e2f42;
}
/* Row-1 */
.list-title {
  font-size: 20px;
  line-height: 1.33;
  color: #2e2f42;
}
.list-text {
  font-size: 16px;
  line-height: 1.33;
  color: #434455;
}
.footer {
  background: #2e2f42;
}
.text-footer {
  font-size: 16px;
  line-height: 1.33;
  color: #e7e9fc;
}
.logo-web {
  font-size: 18px;
  line-height: 1.33;
  color: #4d5ae5;
}
.logo-studio {
  font-size: 18px;
  line-height: 1.33;
  color: #f4f4fd;
}
